# Environment variables

# API URL
VITE_API_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000

# App name
VITE_APP_NAME=MyApp

# Neon Database Connection String
DATABASE_URL="postgresql://user:password@project-name.neon.tech/dbname"
VITE_DATABASE_URL="postgresql://user:password@project-name.neon.tech/dbname"
